<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		
		<!--Hibernate Properties  -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<mapping resource="com/nt/cfg/Employee.hbm.xml"/>
	</session-factory>
</hibernate-configuration>